body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

article {
  padding: 0 16px;
}

article h1 {
  font-size: 1.4em;
}

article h2 {
  font-size: 1.2em;
}

article p {
  font-size: 1em;
}

article li {
  font-size: 1em;
}

.marketing_img {
	width: 100%;
	display: block;
}

.upbadge {
	width: 22%;
	position:absolute;
	right:39%;
	bottom:38%;
}

.downbadge {
	width: 22%;
	position:absolute;
	right:27%;
	bottom:27%;
}

div.content {
	width: 100%;
	/*max-width: 500px;*/
	margin-left: auto;
	margin-right: auto;
}

div.relative{
	position:relative;
}

div.footer {
	background-color:#FF8311;
	/*max-width: 500px;*/
	margin-left: auto;
	margin-right: auto;
	padding:20px 0;
	text-align:center;
	color:#FFFFFF;
	font-size:xx-large;
}


